@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.marker {
  transform: translate(-50%, -100%);
}

.error {
  color: #f05305;
}

.marker.red path {
  fill: #f05305;
}

.marker.yellow path {
  fill: #faa803;
  cursor: pointer;
}

.popup {
  width: 20vw;
  padding: 0.5rem;
}

.popup img {
  height: 120px;
  width: auto;
  text-align: center;
  margin-top: 0.7rem;
  display: block;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
}
.entry-form label {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1rem;
  padding: 0.5rem 0;
  display: block;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
}
.entry-form input,
.entry-form textarea {
  margin: 0.5rem 0;
}

.entry-form button {
  margin: 1rem 0;
  cursor: pointer;
}
