@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  min-height: 100vh;
}

.marker {
  transform: translate(-50%, -100%);
}

.error {
  color: #f05305;
}

.marker.red path {
  fill: #f05305;
}

.marker.yellow path {
  fill: #faa803;
  cursor: pointer;
}

.popup {
  width: 20vw;
  padding: 0.5rem;
}

.popup img {
  height: 120px;
  width: auto;
  text-align: center;
  margin-top: 0.7rem;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
}
.entry-form label {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.entry-form input,
.entry-form textarea,
.entry-form button {
  padding: 0.5rem 0;
  display: block;
  width: 100%;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: none;
  border: none;
}
.entry-form input,
.entry-form textarea {
  margin: 0.5rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

.entry-form button {
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
}
.entry-form button:hover,
.delete:hover {
  background-color: #03a9f4;
  color: #fff;
}
.delete {
  cursor: pointer;
  margin: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
}
