@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

.signForm {
  max-width: 50%;
  margin: 4rem auto;
  font-family: 'Poppins', sans-serif;
}
.signForm h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.signForm p {
  margin-top: 0.4rem;
}
