@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.maintitle {
  display: grid;
  place-items: center;
  letter-spacing: 1px;
}

.title h1,
.title h2 {
  font-family: 'Squada One', cursive;
  text-align: center;
}
.title h1 {
  font-size: 5rem;
  color: rgba(250, 250, 6, 0.815);
}
.title h2 {
  font-size: 3rem;
  color: #fff;
}

.mappic img {
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
  }
  .title h2 {
    font-size: 1.7rem;
  }
}
